<a href="https://colab.research.google.com/github/sriharshitha06/Machine-Learning/blob/main/Imputations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

print("Pandas library imported successfully.")

# Create a sample nominal DataFrame directly
data = {
    'Color': ['Red', 'Blue', 'Green', 'Red', None, 'Blue', 'Green'],
    'Size': ['Small', 'Medium', 'Large', 'Medium', 'Small', 'Medium', None],
    'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C'],
    'Material': ['Cotton', 'Wool', 'Silk', 'Cotton', 'Wool', None, 'Silk']
}
nominal_df = pd.DataFrame(data)

# Display the first 5 rows of the DataFrame
print("First 5 rows of the nominal data (with missing values for imputation):")
print(nominal_df.head())

Pandas library imported successfully.
First 5 rows of the nominal data (with missing values for imputation):
   Color    Size Category Material
0    Red   Small        A   Cotton
1   Blue  Medium        B     Wool
2  Green   Large        A     Silk
3    Red  Medium        C   Cotton
4   None   Small        B     Wool

In [4]:
data_numerical = {
    'Age': [25, 30, None, 40, 35, 28, 45],
    'Height': [170.5, 175.0, 180.2, 165.1, None, 172.8, 178.0],
    'Weight': [65, 70, 75, None, 68, 62, 80],
    'Score': [85, 92, 78, 95, 88, None, 90]
}
numerical_df = pd.DataFrame(data_numerical)

print("First 5 rows of the numerical data (with missing values for imputation):")
print(numerical_df.head())

First 5 rows of the numerical data (with missing values for imputation):
    Age  Height  Weight  Score
0  25.0   170.5    65.0   85.0
1  30.0   175.0    70.0   92.0
2   NaN   180.2    75.0   78.0
3  40.0   165.1     NaN   95.0
4  35.0     NaN    68.0   88.0

In [9]:
import pandas as pd

# Recreate the numerical DataFrame from original data for mean imputation demonstration
data_numerical_for_mean_imputation = {
    'Age': [25, 30, None, 40, 35, 28, 45],
    'Height': [170.5, 175.0, 180.2, 165.1, None, 172.8, 178.0],
    'Weight': [65, 70, 75, None, 68, 62, 80],
    'Score': [85, 92, 78, 95, 88, None, 90]
}
mean_imputed_numerical_df = pd.DataFrame(data_numerical_for_mean_imputation)

print("Original numerical data (before mean imputation):\n")
print(mean_imputed_numerical_df.head())
print("\nMissing values before mean imputation:\n")
print(mean_imputed_numerical_df.isnull().sum())

Original numerical data (before mean imputation):

    Age  Height  Weight  Score
0  25.0   170.5    65.0   85.0
1  30.0   175.0    70.0   92.0
2   NaN   180.2    75.0   78.0
3  40.0   165.1     NaN   95.0
4  35.0     NaN    68.0   88.0

Missing values before mean imputation:

Age       1
Height    1
Weight    1
Score     1
dtype: int64

In [10]:
for col in mean_imputed_numerical_df.columns:
    if mean_imputed_numerical_df[col].isnull().any():
        mean_value = mean_imputed_numerical_df[col].mean()
        mean_imputed_numerical_df[col] = mean_imputed_numerical_df[col].fillna(mean_value)

print("\nFirst 5 rows of numerical_df after mean imputation:\n")
print(mean_imputed_numerical_df.head())

print("\nMissing values in numerical_df after mean imputation:\n")
print(mean_imputed_numerical_df.isnull().sum())

First 5 rows of numerical_df after mean imputation:

         Age  Height  Weight  Score
0  25.000000   170.5    65.0   85.0
1  30.000000   175.0    70.0   92.0
2  33.833333   180.2    75.0   78.0
3  40.000000   165.1    70.0   95.0
4  35.000000   173.6    68.0   88.0

Missing values in numerical_df after mean imputation:

Age       0
Height    0
Weight    0
Score     0
dtype: int64

In [5]:
for col in nominal_df.columns:
    if nominal_df[col].isnull().any():
        mode_value = nominal_df[col].mode()[0]
        nominal_df[col].fillna(mode_value, inplace=True)

print("First 5 rows of nominal_df after mode imputation:")
print(nominal_df.head())

print("\nMissing values in nominal_df after imputation:")
print(nominal_df.isnull().sum())

First 5 rows of nominal_df after mode imputation:
   Color    Size Category Material
0    Red   Small        A   Cotton
1   Blue  Medium        B     Wool
2  Green   Large        A     Silk
3    Red  Medium        C   Cotton
4   Blue   Small        B     Wool

Missing values in nominal_df after imputation:
Color       0
Size        0
Category    0
Material    0
dtype: int64

/tmp/ipython-input-484/1968351950.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(mode_value, inplace=True)

In [6]:
for col in nominal_df.columns:
    if nominal_df[col].isnull().any():
        mode_value = nominal_df[col].mode()[0]
        nominal_df[col] = nominal_df[col].fillna(mode_value)

print("First 5 rows of nominal_df after mode imputation:")
print(nominal_df.head())

print("\nMissing values in nominal_df after imputation:")
print(nominal_df.isnull().sum())

First 5 rows of nominal_df after mode imputation:
   Color    Size Category Material
0    Red   Small        A   Cotton
1   Blue  Medium        B     Wool
2  Green   Large        A     Silk
3    Red  Medium        C   Cotton
4   Blue   Small        B     Wool

Missing values in nominal_df after imputation:
Color       0
Size        0
Category    0
Material    0
dtype: int64

In [7]:
for col in numerical_df.columns:
    if numerical_df[col].isnull().any():
        median_value = numerical_df[col].median()
        numerical_df[col] = numerical_df[col].fillna(median_value)

print("First 5 rows of numerical_df after median imputation:")
print(numerical_df.head())

print("\nMissing values in numerical_df after imputation:")
print(numerical_df.isnull().sum())

First 5 rows of numerical_df after median imputation:
    Age  Height  Weight  Score
0  25.0   170.5    65.0   85.0
1  30.0   175.0    70.0   92.0
2  32.5   180.2    75.0   78.0
3  40.0   165.1    69.0   95.0
4  35.0   173.9    68.0   88.0

Missing values in numerical_df after imputation:
Age       0
Height    0
Weight    0
Score     0
dtype: int64

In [8]:
print("Missing values in nominal_df after imputation:")
print(nominal_df.isnull().sum())

print("\nMissing values in numerical_df after imputation:")
print(numerical_df.isnull().sum())

Missing values in nominal_df after imputation:
Color       0
Size        0
Category    0
Material    0
dtype: int64

Missing values in numerical_df after imputation:
Age       0
Height    0
Weight    0
Score     0
dtype: int64